*{
  padding: 0 px;
  margin: 0 px;
  box-sizing: border-box;
}
.clik{
  cursor: pointer;
}

img{
  max-width: 10vw;
  min-width: 5vw;
  min-height: 6vw;
max-height: 8vw;
}
.imagee{
height: 7vw;
width: 10vw;

}


body{
  background-color: #EAEDED;
}
.cart{
  background-color: #FFFFFF;
}
hr.style2 {
	border-top: 1px solid #000000;
}
hr.style1 {
	border-top: 3px solid #000000;
}
