<div class="d-flex flex-column align-items-center p-5">
  <div>
    <img src="assets/Images/small-logo._CB658006023_.gif" class="img-fluid" />
  </div>
  <table>
    <tbody>
      <tr>
        <!-- <th scope="row">1</th> -->
        <td class="im2">
          <img
            src="assets/Images/kailey-kitty._CB466483591_.gif"
            class="img-fluid im2"
          />
        </td>
        <td>
          <h2 class="fw-bold">Looking for something?</h2>
          <br />
          <h5>
            We're sorry. The Web address you entered is not a functioning page
            on our site
          </h5>
        </td>

      </tr>
      <tr >
        <td id="im2"><img src="assets/Images/orange-arrow._CB466292667_.gif" class="img-fluid"></td>

  <td>
    <h5 class="fw-bold">
     Go to amazon.eg's
        <a routerLink="/Home" >Home</a>
        page
    </h5>


        </td>
      </tr>




    </tbody>
  </table>
</div>
