<div class="container-fluid">
  <div class="row mt-5">
<div class=" d-flex ms-5  mt-5  col-12">
  <i class="fa-solid fa-circle-check size"></i>
  <div class="d-flex mt-4 flex-column align-items-center ms-3 ">
    <div class="fs-1">  your order is confirmed</div>
    <small class="fs-4 ">Thank you For your trust about Us</small>

 <div class="  ">
          <a routerLink="/Orders" class="float-start text-success ">See your orders</a>

    </div>

  </div>

</div>
<br>
<br>
<br>
<br>




  </div>

</div>
