<div class="container-fluid">
  <div class="row">
    <ng-container *ngIf="(basketitem |async) as basket">
  <table class="table " >
      <thead>
        <tr>
          <th scope="col-6">Product</th>
          <th scope="col-2">Quantity</th>
          <th scope="col-2">price</th>
          <th scope="col-2">total</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of basket.items">
        <tr>
          <td ><div class="d-flex col-8">
            <img src="{{item.image[0]}}" alt="" class="me-2">
            {{item.name |slice:0:20}}

          </div></td>
          <td class="col-2 ">
            <div class="ms-3">
              {{item.quantity}}
            </div>

           </td>
          <td class="col-2">{{item.price}}</td>
          <td class="col-2">{{item.quantity * item.price}}</td>
        </tr>

      </tbody>
    </table>

    </ng-container>

<div class="d-flex justify-content-between flex-row mb-5">
  <button type="button" class="btn btn-primary" cdkStepperPrevious><i class="fa fa-angle-left me-2"></i>Back To Delivery</button>
  <button type="button" class="btn btn-primary" cdkStepperNext>Go To Payment<i class="fa fa-angle-right ms-2"></i></button>


</div>

  </div>

</div>
