<div class="" *ngIf="(Shippingitem |async) as ShipingTotal">
  <aside class="bg-light p-4 shadow p-3  cart rounded  mt-4">
    <h5 class="fw-bold">Order Summary</h5>
    <hr>
    <div class="row">
      <div class="col-6 fw-bold">Subtotal:</div>
      <div class="col-6 fw text-right">{{ShipingTotal.Subtotal | currency}} </div>
    </div>
    <div class="row">
      <div class="col-6 fw-bold">Shipping:</div>
      <div class="col-6 text-right">{{ShipingTotal.shipping | currency}} </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6 fw-bold">Total:</div>
      <div class="col-6 text-right">{{ShipingTotal.total | currency}} </div>
    </div>

  </aside>

</div>
