<div class="container-fluid">
  <div class="row">
    <div class="fs-1 fw-bold shadow p-3 mb-5  rounded  mt-4 col-12" >
      Order Details

    </div>

    <section class="col-sm-12 col-md-9 col-lg-9">
      <div class="d-sl-block d-lg-flex d-md-block justify-content-between shadow  p-3 mb-5 bg-body-tertiary rounded ">
     <div class="d-block">
  <ng-container  *ngFor="let item of Order.products" >
        <div class="d-flex mb-2   align-items-center mt-3" >

        <div class="contan">
          <img src="{{item.images[0]}}" class="imagee">

        </div>

        <div class="ms-3 fw-bold" *ngIf="currentLanguage == 'en'">
          {{item.nameEN |slice:0:50}}
        </div>
        <div class="ms-3 fw-bold" *ngIf="currentLanguage == 'ar'">
          {{item.nameAR |slice:0:50}}
        </div>
        <div class="">

        <span class="ms-3 fw-bold">
          Price
        </span>
          {{item.price|currency:"EGP"}}
        </div>


         </div>
         <div>

         <!-- <div class="input-group  ">
          <span class="input-group-text">With textarea</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div> -->
         </div>

<hr>


        </ng-container>

     </div>




      <div class="col-sm-12 col-md-12 col-lg-3 ">
        <div class="d-flex flex-column align-items-start">
          <div class="fs-4   ">
            Deliver To
          </div>
          <div>
            <span class="fw-bold">
            Country:

            </span>
            {{Order.address.country}}

          </div>
          <div>
            <span class="fw-bold">
            City:

              </span>
              {{Order.address.city}}

          </div>
          <div>
            <span class="fw-bold">
            streetNumber:

              </span>
              {{Order.address.streetNumber}}

          </div>
          <div >
            <span class="fw-bold">
            Adress:

              </span>
              <span *ngIf="currentLanguage == 'ar'">
                {{Order.address.addressAR1}}
              </span>
              <span *ngIf="currentLanguage == 'en'">
                {{Order.address.addressEN1}}
              </span>

          </div>
        </div>
      </div>


      </div>


    </section>

    <div class="col-sm-12 col-md-3 col-lg-3">
      <aside class="bg-light p-4 shadow p-3  cart rounded  mb-5 mt-4 ">
      <h5 class="fw-bold">Order </h5>
      <hr>
      <div class="row">
        <div class="col-6 fw-bold">Order Date:</div>
        <div class="col-6 fw text-right">{{Order.date |date :'yyyy-MM-dd'}} </div>
      </div>
      <div class="row">
        <div class="col-6 fw-bold">Status:</div>
        <div class="col-6 text-right text-success-emphasis">{{Order.status }} </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6 fw-bold">Total:</div>
        <div class="col-6 text-right">{{Order.total | currency:"EGP"}} </div>
      </div>

    </aside>
    </div>







  </div>

</div>




