<div class="container-fluid  ">

  <div class="row text-center ">
    <div class="container-fluid py-2 " style=" background-color: #304053; "><a href="#"
        class=" text-light text-decoration-none">{{'Back To Top'|translate}}</a></div>
  </div>
  <div class="row  d-flex justify-content-center p-5" style=" background-color: #232F3E; ">
    <div class="col-lg-2 "></div>
    <div class="col-lg-2 col-md-3 col-sm-5 d-none d-md-block d-lg-block ">
      <h6 class="text-light">{{'Get to Know Us'|translate}}</h6>
      <a href="#" class=" text-light text-decoration-none ">{{'About Amazon'|translate}}</a><br>
      <a href="#" class=" text-light text-decoration-none ">{{'Careers'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none ">{{'Amazon Sciencs'|translate}}</a><br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-5 d-none d-md-block d-lg-block ">
      <h6 class="text-light">{{'Shop With Us'|translate}}</h6>
      <a href="#" class="text-light text-decoration-none">{{'Your Account'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none">{{'Your Orders'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none">{{'Your Addresses'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none">{{'Your Lists'|translate}}</a><br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-5  mt-sm-5 mt-lg-0 mt-md-0 d-none d-md-block d-lg-block">
      <h6 class="text-light  ">{{'Make Money with Us'|translate}}</h6>
      <a href="#" class="text-light text-decoration-none">{{'Protect and build your brand'|translate}}</a><br>
      <a href="#" class="text-light  text-decoration-none">{{'Advertise Your Products'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none">{{'Sell on Amazon'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none">{{'Fulfillment by Amazon'|translate}}</a><br>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-5  mt-sm-5 mt-lg-0 mt-md-0 d-none d-md-block d-lg-block">
      <h6 class="text-light">{{'Let Us Help You'|translate}}</h6>
      <a href="#" class="text-light text-decoration-none">{{'Help'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none">{{'Shipping & Delivery'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none">{{'Returns & Replacements'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none">{{'Amazon App Download'|translate}}</a><br>
    </div>
    <div class="col-lg-2 "></div>
    <div class=" d-flex justify-content-evenly  d-md-none d-lg-none">
      <div>
              <h6 class="text-light">{{'Let Us Help You'|translate}}</h6>

      </div>

      <div>
        <a href="#" class="text-light text-decoration-none ms-3">{{'Shipping & Delivery'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none ms-3">{{'Returns & Replacements'|translate}}</a><br>
      <a href="#" class="text-light text-decoration-none ms-3">{{'Amazon App Download'|translate}}</a><br>
      </div>

    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////// -->



  <div class="row  d-flex  justify-content-center py-3" style=" background-color: #232F3E; ">
    <div class=" d-flex  justify-content-center  ">
      <img src="./Images/amazon-logo.png" class="mx-5" style="width: 120px;" alt="" srcset="">
      <div class=" d-flex  justify-content-center    text-light  " style="height: 40px; ">

        <button style=" background-color: #232F3E; " type="button" class="btn  border-light  text-light px-2  ">
          <i class="fa-solid fa-globe"></i>
          {{'English'|translate}}
        </button>

        <button style=" background-color: #232F3E; " type="button" class=" mx-3 btn  border-light  text-light px-2  ">
          <img style="width: 20px;" src="egy.png" alt="" srcset="">
          {{'Egypt'|translate}}
        </button>

      </div>



    </div>
  </div>

<div class="row">
  <table class="  foter-colo   ">
    <tbody >
      <tr class="d-flex justify-content-center mt-4 fw-bold  d-none d-md-none d-lg-flex">
        <td class="ms-5 ">
          <a href="#" class="text-decoration-none footer-fot">
            {{'Amazon Advertising'|translate}}
            <br>
            <span>
             {{'Find, attract, and'|translate}}
              <br>
             {{'engage customers'|translate}}
            </span>
          </a>
        </td>
        <td class="ms-5">
          <a href="#" class="text-decoration-none footer-fot">
           {{'Sell on Amazon.ae'|translate}}
            <br>
            <span>
              {{'Sell globally, start with UAE'|translate}}

            </span>
          </a>
        </td>
        <td class="ms-5">
          <a href="#" class="text-decoration-none footer-fot">
           {{'Sell on Amazon.sa'|translate}}
            <br>
            <span>
            {{'Sell globally, start with Saudi Arabia'|translate}}             <br>

            </span>
          </a>
        </td>
        <td class="ms-5">
          <a href="#" class="text-decoration-none footer-fot">
            {{'Amazon Web Services'|translate}}
                     <br>
            <span>
              {{'Scalable Cloud'|translate}}
              <br>
             {{'Computing Services'|translate}}
            </span>
          </a>
        </td>
        <td class="ms-5">
          <a href="#" class="text-decoration-none footer-fot">
            {{'Goodreads'|translate}}
            <br>
            <span>
              {{'Book reviews'|translate}}
              <br>
              {{'& recommendations'|translate}}
            </span>
          </a>
        </td>

      </tr>
      <tr class="d-flex justify-content-center mt-3 fw-bold d-none d-md-none d-lg-flex ">
        <td class="ms-5">
          <a href="#" class="text-decoration-none footer-fot">
            {{'Amazon Advertising'|translate}}
            <br>
            <span>
              {{'Find, attract, and'|translate}}
              <br>
              {{'engage customers'|translate}}
            </span>
          </a>
        </td>
        <td class="ms-5">
          <a href="#" class="text-decoration-none footer-fot">
            {{'Sell on Amazon.ae'|translate}}
            <br>
            <span>
              {{'Sell globally, start with UAE'|translate}}

            </span>
          </a>
        </td>
        <td class="ms-5">
          <a href="#" class="text-decoration-none footer-fot">
           {{'Sell on Amazon.sa'|translate}}
            <br>
            <span>
              {{'Sell globally, start with Saudi Arabia'|translate}}              <br>

            </span>
          </a>
        </td>
        <td class="ms-5">
          <a href="#" class="text-decoration-none footer-fot">
            {{'Amazon Web Services'|translate}}
                     <br>
            <span>
              {{'Scalable Cloud'|translate}}
              <br>
              {{'Computing Services'|translate}}
            </span>
          </a>
        </td>
        <td class="ms-5">
          <a href="#" class="text-decoration-none footer-fot">
            {{'Goodreads'|translate}}
            <br>
            <span>
              {{'Book reviews'|translate}}
              <br>
             {{'& recommendations'|translate}}
            </span>
          </a>
        </td>


      </tr>
    <tr class="">
      <td>
        <div class=" text-decoration-none d-flex flex-column justify-content-center text-light mt-3  mb-3">
    <div class="col d-flex justify-content-center fs"><a>{{'Conditions of Use & Sale'|translate}}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a>
      {{'Privacy Notice'|translate}}</a>&nbsp;&nbsp;&nbsp;&nbsp; <a>{{'Interest-Based Ads'|translate}}</a> </div>
    <span class=" d-flex justify-content-center ">©1996-2023, Amazon.com, Inc. or its affiliates</span>
  </div>
      </td>
    </tr>
    </tbody>


  </table>


</div>




</div>


